#homepage {
  padding: 13px 0;

  #left-col, #right-col {
    float: left;
    margin-bottom: 101px;
  }

  #left-col {
    // float: left;
    width: 760px;
    margin-right: 13px;
  }

  #right-col {
    // float: left;
    width: 326px;
  }
}
