#homepage {
  padding: 13px 0;

  #left-col, #right-col {
    float: left;
    margin-bottom: 101px;
  }

  #left-col {
    width: 760px;
    margin-right: 13px;

    @media (max-width: 1100px) {
      margin-bottom: 0px;
    }
  }

  #right-col {
    width: 326px;

    @media (max-width: 760px) {
      margin-bottom: 0px;
    }
  }
}
