#plays {
  background-color: white;
  min-height: 300px;
  width: 375px;
  float: left;
  margin: 0 13px 13px 0;

  header {
    background-color: black;
    height: 39px;
    color: #fff;
    text-align: center;
    line-height: 39px;
  }
}
