#article-card {
  background-color: #fff;
  width: 180px;
  padding: 0 4px;
  @media screen and (min-width: 601px) {
    width: 194px;
    padding: 0 8px;
  }
  // #card-thumbnail {
  //   position: relative;
  // }
  #card-title-container {
    height: 80px;
    #card-title {
      color: #337ab7;
      line-height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; // max nb lines to show
      -webkit-box-orient: vertical;
    }
    #card-summary {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3; // max nb lines to show
      -webkit-box-orient: vertical;
    }
  }
  #card-stats {
    height: 12px;
  }
  h3 {
    line-height: 17px;
    margin: 8px 0 0 0;
  }
  h4, h4 a {
    color: grey;
    line-height: 11px;
    margin: 4px 0 0 0;
  }
  h4 a:hover {
    color: #337ab7;
  }
}
