#scoring {
  background-color: white;
  width: 326px;
  min-height: 716px;

  header {
    background-color: black;
    height: 39px;
    color: #fff;
    text-align: center;
    line-height: 39px;
  }
}
